@{
    ViewData["Title"] = "Lanyard";
}

<div class="my-4">
    <h2>Select for Lanyard Design</h2>
    <a class="btn btn-success" asp-controller="IdCard" asp-action="GenerateLanyardDesign" target="_blank">
        Generate Lanyard Design
    </a>
</div>